In [2]:
import pandas as pd

In [4]:
a=pd.read_csv('../data_clean/data_clean.csv')

In [9]:
a['Data']=pd.to_datetime(a['Data'])

In [10]:
a

,Nome,Simbolo,Data,Maximo,Minimo,Abertura,Fechamento,Volume,Cap. de Mercado
0,Aave,AAVE,2020-10-05,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,Aave,AAVE,2020-10-06,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,Aave,AAVE,2020-10-07,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,Aave,AAVE,2020-10-08,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,Aave,AAVE,2020-10-09,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08
...,...,...,...,...,...,...,...,...,...
17693,Tether,USDT,2021-07-02,1.000830,0.999991,1.000301,1.000033,4.562659e+10,6.237592e+10
17694,Tether,USDT,2021-07-03,1.000674,0.999914,1.000046,0.999956,4.119499e+10,6.237115e+10
17695,Tether,USDT,2021-07-04,1.000165,0.998902,0.999987,0.999501,4.306666e+10,6.234274e+10
17696,Tether,USDT,2021-07-05,1.001040,0.999426,0.999426,1.000667,4.721585e+10,6.241550e+10
17697,Tether,USDT,2021-07-06,1.000879,0.999825,1.000728,1.000090,5.105419e+10,6.233384e+10

In [14]:
b=a.pivot_table(columns='Nome',index='Data',values='Fechamento',aggfunc='mean')

In [19]:
b[b.index>'2018-01-01']

Nome,Aave,Binance Coin,Bitcoin,Cardano,Crypto.com Coin,Dogecoin,Ethereum,Litecoin,Solana,Tether
Data,,,,,,,,,,
2018-01-02,NaN,8.837770,14982.099609,0.782587,NaN,0.009145,884.443970,255.684006,NaN,1.004900
2018-01-03,NaN,9.535880,15201.000000,1.079660,NaN,0.009320,962.719971,245.367996,NaN,1.013440
2018-01-04,NaN,9.213990,15599.200195,1.114120,NaN,0.009644,980.921997,241.369995,NaN,1.002530
2018-01-05,NaN,14.917200,17429.500000,0.999559,NaN,0.012167,997.719971,249.270996,NaN,0.998634
2018-01-06,NaN,22.759800,17527.000000,1.027150,NaN,0.014863,1041.680054,296.454010,NaN,1.008990
...,...,...,...,...,...,...,...,...,...,...
2021-07-02,233.948437,287.423094,33897.048590,1.394397,0.113914,0.245264,2150.040364,136.943696,34.020482,1.000033
2021-07-03,259.655225,298.237117,34668.548402,1.406836,0.118407,0.246411,2226.114282,140.279688,34.478816,0.999956
2021-07-04,277.038792,307.732096,35287.779766,1.458184,0.122427,0.246483,2321.724112,144.905849,34.310601,0.999501
2021-07-05,307.829079,302.377980,33746.002456,1.404898,0.115814,0.231614,2198.582464,138.073246,32.984588,1.000667
2021-07-06,316.898507,320.934802,34235.193451,1.418053,0.122856,0.234422,2324.679449,138.985636,34.269140,1.000090